$light_color: #f2f2f2;
$red: #c42026;

.about_us {
  text-align: center;
  background-color: #f7f7f7;
  padding: 70px;
  .about_us_title {
    h1 {
      font-weight: 700;
      text-align: center;
      font-size: 30px;
      color: #333;
      line-height: 1em;
      span {
        color: $red;
      }
    }
    p {
      padding: 20px 200px 20px 200px;
      color: #3d3d3d !important;
      line-height: 2.1em;
      text-align: justify;
      font-weight: 500;
      text-align-last: center;

    }
    .btn {
      background-color: $red;
      color: white;
      font-size: 15px;
    }
  }
}
